MONGO_INITDB_DATABASE=inventory-service
MONGO_INITDB_ROOT_USERNAME=inventory-service-user
MONGO_INITDB_ROOT_PASSWORD=inventory-service-password

MONGO_PORT=27017
MONGO_AUTH_DB=admin

MONGO_URI=mongodb://inventory-service-user:inventory-service-password@localhost:27017/database?authSource=admin